<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/css/jQueryUI/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/iCheck/flat/_all.css">
<link rel="stylesheet" type="text/css" href="/css/iCheck/square/_all.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.css">

<link rel="stylesheet" type="text/css" href="/css/nprogress/nprogress.css" >
<link rel="stylesheet" type="text/css" href="/css/jqvmap/jqvmap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-daterangepicker/daterangepicker.css" >
<link rel="stylesheet" type="text/css" href="/css/SweetAlert/sweetalert2.min.css" >

<link rel="stylesheet" type="text/css" href="/css/styles-admin.css">

<!-- DataTables -->
<link rel="stylesheet" type="text/css" href="/css/dataTables/dataTables.bootstrap.min.css" >
<link rel="stylesheet" type="text/css" href="/css/dataTables/responsive/responsive.bootstrap.min.css" >
<link rel="stylesheet" type="text/css" href="/css/dataTables/buttons/buttons.bootstrap.min.css" >
<link rel="stylesheet" type="text/css" href="/css/dataTables/select/select.bootstrap.min.css" >
<link rel="stylesheet" type="text/css" href="/css/dataTables/editor/editor.bootstrap.min.css" >

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" >
<link rel="icon" type="image/png" href="/img/iconos/favicon.png" />

<!-- Choosen Styles -->

<link rel="stylesheet" type="text/css" href="/css/chosen/prism.css">
<link rel="stylesheet" type="text/css" href="/css/chosen/chosen.css">
