<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/js/nprogress/nprogress.js"></script>
<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/icheck.min.js"></script>
<script type="text/javascript" src="/js/jquery.mask.min.js"></script>
<script type="text/javascript" src="/js/jquery-validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="/js/moment/moment.min.js"></script>
<script type="text/javascript" src="/js/moment/locale/es.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>

<script type="text/javascript" src="/js/fastclick/fastclick.js"></script>
<script type="text/javascript" src="/js/Chart.js/Chart.min.js"></script>
<script type="text/javascript" src="/js/gauge.js/gauge.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<script type="text/javascript" src="/js/skycons/skycons.js"></script>

<script type="text/javascript" src="/js/Flot/jquery.flot.js"></script>
<script type="text/javascript" src="/js/Flot/jquery.flot.pie.js"></script>
<script type="text/javascript" src="/js/Flot/jquery.flot.time.js"></script>
<script type="text/javascript" src="/js/Flot/jquery.flot.stack.js"></script>
<script type="text/javascript" src="/js/Flot/jquery.flot.resize.js"></script>

<script type="text/javascript" src="/js/flot.orderbars/jquery.flot.orderBars.js"></script>
<script type="text/javascript" src="/js/flot-spline/jquery.flot.spline.min.js"></script>
<script type="text/javascript" src="/js/flot.curvedlines/curvedLines.js"></script>

<script type="text/javascript" src="/js/DateJS/date.js"></script>

<script type="text/javascript" src="/js/jqvmap/jquery.vmap.js"></script>
<script type="text/javascript" src="/js/jqvmap/maps/jquery.vmap.world.js"></script>
<script type="text/javascript" src="/js/jqvmap/jquery.vmap.sampledata.js"></script>

<script type="text/javascript" src="/js/bootstrap-daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="/js/SweetAlert/sweetalert2.min.js"></script>

<!-- Datatables -->
<script type="text/javascript" src="/js/dataTables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/dataTables/dataTables.bootstrap.min.js"></script>	

<script type="text/javascript" src="/js/dataTables/responsive/dataTables.responsive.min.js"></script>	
<script type="text/javascript" src="/js/dataTables/responsive/responsive.bootstrap.min.js"></script>	

<script type="text/javascript" src="/js/dataTables/buttons/dataTables.buttons.min.js"></script>	
<script type="text/javascript" src="/js/dataTables/buttons/buttons.bootstrap.min.js"></script>	
<script type="text/javascript" src="/js/dataTables/buttons/jszip.min.js"></script>	
<script type="text/javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
<script type="text/javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js	"></script>
<script type="text/javascript" src="/js/dataTables/buttons/buttons.html5.min.js"></script>	
<script type="text/javascript" src="/js/dataTables/buttons/buttons.print.min.js"></script>	
<script type="text/javascript" src="/js/dataTables/buttons/buttons.colVis.min.js"></script>	

<script type="text/javascript" src="/js/dataTables/select/dataTables.select.min.js"></script>	

<script type="text/javascript" src="/js/dataTables/editor/dataTables.editor.min.js"></script>	
<script type="text/javascript" src="/js/dataTables/editor/editor.bootstrap.min.js"></script>	


<script type="text/javascript" src="/js/scripts-admin.js"></script>