<?php echo $GLOBALS['lang'] ."<---here";

▌│║-٩͡[๏̯͡๏]۶-███ ¯\_(ツ)_/¯ ▒░░.**REMEMBER!!! TO WRITE LIKE THIS EVERYTIME <---IS FOR MY FUTURE *I firmly believe that if I really want to leave here, I must learn English excellently. * I hate json language!!!  So... Really , Really, Really!!! I'm  gonna learn english at 100 percent.   Study all day but especially at 16:30, Study all day as if my life depended on it ░░▒▓███-*´¨)◣_◢ ٩(●̮̮̃•̃)۶ ٩[๏̯͡๏]۶ ║▌║││█║▌٩͡[๏̯͡๏]۶│║▌║--█٩͡[๏̯͡๏]۶██▓▒٩͡[๏̯͡๏]۶░░.٩͡[๏̯͡๏]۶****.░░▒٩͡[๏̯͡๏]۶▓-
                               REMEMBER YOUR MIND IS PRODIGIOUS AND POWERFUL. 8 HOURS WELL WORKED WILL BE ENOUGH. BELIEVE IN YOURSELF JAISSIEL, BE INTELLIGENT, BE BRAVE.
(📌) It´s very important, work hard from 09:00 to  14:00 M-S if it´s possible
(📌) Work hard for adhara from 15:00 to 18:00
(📌) Design new index with "bootstrap" four
(📌) Remark: In this case is for to learn firts, don´t must see it relation with deseocaribe.com
(📌) I will Create a neutro design, on oktrip/newsite for work here
(📌) Maybe create new directory for new design
(📌) Make one directory exclusive for new project , C:\xampp\htdocs\Zamna dc\zamna-dc  <--- Remark and Remember
(📌) firts work like a normal project... later work with laravel
(📌) I´m gonna start with the index file, the files that I was making for oktrip
        study and extract allnecesary for it´s funcionality and share with my brothers
(📌) copy here news users and passwords
(📌) Commit to the server bitbucket this file ;) 
(📌) Already I have the  folder <-- these  I give me glad
(📌) Hecha a andar tus paginas
(📌)*** Put music in caribbean desire, mmm yeah I want select one song/music for avery page
(📌)*** I´m gonna make a post DC Monday to Friday, always at  2pm
(✔) Yep for effects to learn I will test in newsite/oktrip later in my domain dc (I´m gonna identify  all images, and I will convert to html pure for share with my brother, next I  wanna change again  to .php file)

(📌) *** The files must are in the folder of newsite because this is active directory for test in the browser
    so you take this directory for work and upload to bitbucket and this is will be the local server in my pc
(📌) I will take the characteristics
(📌) Insert the options of menu-nav bar  remark laravel
✔✔✔(📌)  Check the new table! the chair, the memory for pc, the fonacot, the sar, the santander count, the bill payroll
     TEST new icons like the hand a heart and put the google maps and find the code for the nav mobible
(📌) I need to upload the project to bitbucket
✔✔✔(📌)  C:\xampp\htdocs\Proyectos\oktripmx\newsite\views\Home	 <---- Remember this the official path/route 
(📌) http://oktrip.local/  <--- for good Examplehttp://oktrip.local/
(📌) I will put all files in another directory for test and send 
<!--+----------+----------------+-----------------+------------------------------------+-------------------------------+-------------------------+--------------+------------+ -->		
(📌) Buy me a coffee  <--- is a good idea for request money
(✔) Put link for message whatssapp
(✔) Put inner links...
(✔) I wanna sell this web
(✔) I´m gonna put tag for organic search
(✔) Test in the server
(✔) I wanna put the tags to make movement of one image
(✔) And I will put commentaries for make a mini explanation in spanish
(✔) And I will put a map example.
(📌) Check ... my eye, my desparacitation, my *, test prostata, miconazol,protein
(📌) Tomorrow speak to santander,fonacot,afore.
(📌) In the night speak with Ivan about the pays
(📌) Remember I wanna work like massage men in the beach
(📌) Find a great Tatto
(📌) My objetive is one clic per day any person :) 

(📌) I will start a new index for -dc- yep. it´s necessary for  a new system, so  I wanna draw a new image for the new main page so
    this for Saturday 16.

(📌) Meanwhile, I´m going to update the last articles
(📌) I need to  read the instructions to allocate ads in special space for google ads
(📌) Remark: One click and one post if it is possible, every day!
(📌) Well  the first article to translate will be: 10 places to visit in Puerto Morelos
(📌) I  need update  date in all pages
(📌) It´s a good idea... I wanna put a mini wall to side the main door, meanwhile
(📌) *** Yes I´m gonna build a great Teocalli , in a back garden´.

(📌) * Remember upload these ideas to  bitbucket

(📌) * Ok well... Where I am?  
(📌) I have a domain deseocaribe.com
(📌) I have a connection with google ads
(📌) I have many social media 
(📌) I have a 6 articles

(📌) * Where I want to be?
(📌) I wanna have a famous magazine
(📌) I wanna have my  first travel agency deseocaribe 
(📌) I wanna have profits with paypal
(📌) I wanna have profits with my publicity
(📌) I wanna have many  writers writing articles for me

(📌) Next saturday 23 -I´m gonna make to change oil for  my car
                      -Draw a new index for dc-magazine  and dc-travel

(📌) So...I will  have two projects in one dc-magazine and dc-travel
(📌) 
(📌) From Wednesday	to Friday I´m gonna translate, update and upload my  all  articles
(📌) And I will  study the new techniques  for ads static 
(📌) To put widtget to translate									 
(📌) To find and put flags images for distints languages									 
(📌) With a new articles in english, I wanna promote again in  distints social media
(📌) Remember the new design it will be a mix between my site, my prototype  amd site and azulik  site.
(📌) To get monitor bill
(📌) The sculture are in entrence  hotel "Ahay" Hotels zone in Tulum, hightway Tulum-Boca Paila
(📌) Caracol House on Isla Mujeres
(📌) Pool King on  Isla Mujeres
(📌) Punta Mosquito  Yum Balam protected natural zone
(📌) Siren
(📌) Ladys American football
(📌) "Our goal as humanity is to take care of this planet." Alejandro Jodorowsky
***(📌) Remember to make many many free page for distinct clients for to  put many ads...
(📌) ok the first organization it will be:
    My folder FTP is my master producction
	In my house computer I will have the same that my folder FTP
    In my job computer I will have the same taht my folder FTP      

 


▌│║ ███ ¯¯ ▒░░▌│║ ███ ¯¯ ▒░░▌│║ ███ ¯¯ ▒░░▌│║ ███ ¯¯ ▒░░▌│║ ███ ¯¯ ▒░░▌│║ ███ ¯¯ ▒░░▌│║ ███ ¯¯ ▒░░▌│║ ███ ¯¯ ▒░░▌│║ ███ ¯¯ ▒░░▌│║ ███ ¯¯ ▒░░▌│║ ███ ¯¯ ▒░░▌│║ ███ ¯¯ ▒░░▌│║ ███ ¯¯ ▒░░▌│║ ███ ¯¯ ▒░░▌│║ ███ ¯¯ ▒░░
▌│║-٩͡[๏̯͡๏]۶-███ ¯\_(ツ)_/¯ ▒░░.**REMEMBER!!! TO WRITE LIKE THIS EVERYTIME <---IS FOR MY FUTURE *I firmly believe that if I really want to leave here, I must learn English excellently. * I hate json language!!!  So... Really , Really, Really!!! I'm  gonna learn english at 100 percent.   Study all day but especially at 16:30, Study all day as if my life depended on it ░░▒▓███-*´¨)◣_◢ ٩(●̮̮̃•̃)۶ ٩[๏̯͡๏]۶ ║▌║││█║▌٩͡[๏̯͡๏]۶│║▌║--█٩͡[๏̯͡๏]۶██▓▒٩͡[๏̯͡๏]۶░░.٩͡[๏̯͡๏]۶****.░░▒٩͡[๏̯͡๏]۶▓-
                               REMEMBER YOUR MIND IS PRODIGIOUS AND POWERFUL. 8 HOURS WELL WORKED WILL BE ENOUGH. BELIEVE IN YOURSELF JAISSIEL, BE INTELLIGENT, BE BRAVE.
29.01.21
(📌) I´m gonna plan my large weekend
(📌) Friday    : if its posible go to office dr,Wash aguacates/avocados and oranges and wash pan
(📌) Saturday  : Screw reel, Trow garbage, and take clothes to the laundry, To buy meat, coco milk, corn flakes, garbage bags, napkins, tortillas, to change oil at car, cook and eat
                so I will start to work maybe 15:00 to 11:00 60% for system and 40% for find oportunities in link network
(📌) Sunday    : Workout,clean, sex
(📌) Monday    :To clean frontgarden,To put sink,work out,

21.01.21
(📌) to Translate one article...mangrove
(📌) I will make my  wonderful and marvelous  new index to dc-magazin  and dc-travel  
(📌) And study all in relation with travel agency
(📌) Upload  this html file on bitbucket
(📌) I´m gonna think about how to make a spiritual tour

21.01.21
(📌) Remark: for translate one article I have to change, meta tags, links, nav bars, titles, etc, etc check it, and translate it well
(📌) My objective today is: To have finished three articles translated totally
(📌) Check my monitor bill in amazon, and cost per  change oil
(📌)
(📌)


20.01.21
(📌) To Translate another article.
(📌) What can I do for more confort in my job?
(📌) I will update the digital article.
(📌)*** How to make a .ico file with background transparent
(📌) 
(📌)
(📌)

19.01.21

(✔) I wanna Read my article, and I will update the digital article.
(✔) To Pay domain and hosting. 
(✔) To Pay telephone bill. 
(✔) I wanna visit the doctor office. 





07.02.21
(📌) ok the firts step for share my new page with my brothers is done.
(📌) Now I´m gonna write my all ideas for the new system.
(📌) domain.
(📌) DataBaseName.
(📌) Yes in the same folder,data base,domain.
(📌) I will change the index file (But, firts I wanna create new release for my articles, "bitcoin and git" next new titles).
(📌) I need investigate what provider offer laravel service
(📌) Maybe I will work two projects a:(html,php,css,mysql) b:(laravel)
(📌) I´m gonna put the paypal button for donate in my articles
(📌) I´m gonna put the paypal button for pay/charge etc.
(📌) I don´t have idea in what time but I hope in  the next period: 6 to 10 months
(📌) So I will start with option (a)
(📌) Images, clients, what tours, so I´m gonna create tours...for example espiritual tours:  Botanic garden, cenote La Noria break fast,food, and transportation.
(📌)                                                                      for that I need parners, drivers, It will be importan  I have a good structure
(📌)
(📌) find this C:\xampp\htdocs\Proyectos\oktripmx\img\3d
     
06.02.21
(📌) I will Make a wonderful system for tours, called deseotours or something like this
(📌)  clipPath  span  section  <section> </section> <---only for format
(📌)
(📌)
      
04.01.21

(📌) Ok, project 

(📌) Anothers themes:  I´m gonna update my Linked-In , I wanna take me many photos with suit, tie and vest for linked-In
(📌) I have everithing  under control, overwhelm. everything works good for me!
(📌) Remark to margin ;) : find one beautiful design for one "greca" in my arm and find a local,people,cost etc for make me tattoo.

 14.12.20
(📌) I´m gonna Background the last version of oktrip
(📌) Another pending will be convert the php files to html files and mix both php pages
(📌) Too identify all css files mines and I will join in one unique


-----------------------------------------------------------------
 xpress.com.mx  MiUsuario ---->> para Express Hosting
	jaissiel@yahoo.com
	Alf@890750890750
 
--------------------------------------------------------------
 nicehash.com

jaissiel.vidanta@gmail.com
NiceHash.,890750890750
---------------------------------------------------------------
Twitter II
XamanJay Canek
XamanJay890750890750
---------------------------------------------------------------
udemy
	jaissiel.vidanta@gmail.com
	udemy890750
-----------------------------------------------------------------
Telmex
9982108440
xamanjay@gmail.com
xamanjay890750
-----------------------------------------------------------------
bitbucket.org 
Username: Jaissiel VI
email: jaissiel.vidanta@gmail.com
passw: bitbucket890750
------------------------------------------------------------------
Telmex
    998 2108440
    xamanjay890750

 
-------------------------Esto es para pay
canek.tzama.batun@gmail.com
PayPal.,890750890750
-----------------------------------

xamanjay@gmail.com
amazon890750890750

-----------------------------------

prime amazon
contadorasbv@hotmail.com
AmbarQ02
-----------------------------------

canek.tzama.batun@gmail.com
DisneyPlus.,890750
----------------------------------------
Nueva de Disney 
juez_rbv@hotmail.com
radamantis7

----------------------------------------------
For Sura office.
NSS
INE
CURP
Acta Nacimiento
RFC
Comprobante Domicilio
CorreoElectronico
Nu Celular
2 Referencias  Personales

27 Enero 09:20
C202101-00651416
Local S04 entrada americas x  sushito

-------------------------------------------------

New bancomer Jay890750

----------------------------------------------------


---------codigo google ads 2021--------------------------------------------------------------------------------------------------------------------------

<script data-ad-client="ca-pub-7638692636443240" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


--------------------------------------codigo anterior de google  ads--------------------
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
	  (adsbygoogle = window.adsbygoogle || []).push({
		google_ad_client: "ca-pub-7638692636443240",
		enable_page_level_ads: true
	  });
	</script>
----------------------------------------------------------------------------------------

The number of ads you can show has been limited. For details, go to the Policy center.

Account issues
Ad serving status
Issues
Date issued
Ad serving has been limited
Invalid traffic concerns
Nov 4, 2020    <------- 


It has more than 2 months, I have not done anything wrong, could they be more specific, until when can I show ads, and why do they say that I violate the policies ?????? Thank you!

